:root {
  --primary-bg-color: #23272f;
  --secondary-bg-color: #149ECA;
  --header-height: 64px;
  --title-color: #e0e1e4;
  --paragraph-color: rgb(235, 236, 240);
}

@font-face {
  font-family: "PalanquinDark";
  src: url("/PalanquinDark/PalanquinDark-Regular.woff") format("woff");
  font-weight: 400; /* Normal weight */
}

@font-face {
  font-family: "PalanquinDark";
  src: url("/PalanquinDark/PalanquinDark-Medium.woff") format("woff");
  font-weight: 500; /* Medium weight */
}

@font-face {
  font-family: "PalanquinDark";
  src: url("/PalanquinDark/PalanquinDark-SemiBold.woff") format("woff");
  font-weight: 600; /* Semi-bold weight */
}

@font-face {
  font-family: "PalanquinDark";
  src: url("/PalanquinDark/PalanquinDark-Bold.woff") format("woff");
  font-weight: 700; /* Bold weight */
}

body {
  background-color: var(--primary-bg-color);
  color: var(--paragraph-color);
  font-family: "PalanquinDark", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, p {
  margin: 0;
}
